
       /*  *{
            margin:0;
        } */
        header{
            background-color: rgb(240, 240, 240);
                height: 100px;
                width: 100%;
            display: inline-block;
        }
        .logo{
           
            width:30%;
            display: inline-block;
            position: relative;
            left:80px;
            top:15px;
            font-size: 25px;
            color:rgb(166, 166, 166);
        }
        nav{
          
            width: 68%;
            display: inline-block;
        }
        nav ul{
            width:90%;
            display: inline-block;
            text-align: end;
            position: relative;
            top:15px;   
        }
        nav li{
            width:50px;
            display: inline;
            padding-right: 20px;
            color:rgb(166, 166, 166);
        }

        /* Section */

        section{
            display: inline-block;
            width: 100%;
            height: 350px;
          
        }

        figure{
            display: inline-block;
            width:30%;
            height: 300px;
            background-color: red;
        }

        span{
            display: inline-block;
            width:50%;
            height: 300px;
            color:rgb(166, 166, 166);
            position: relative;
            left:80px;
            bottom: 80px;
        }
        figure img{
            width:450px;
        }

        /* Article vídeos*/

        article{
            background-color: rgb(181, 49, 49);
            height: 350px;
        }

        aside{
            
            margin: 15px;
            height: 80%;
            position: relative;
            top:20px;
            left:10px;
            width:30%;
            display: inline-block;
        }
        h3{
         
            text-align: center;
            color:rgb(166, 166, 166);
        }

        b{
          
            height: 250px;
            position: relative;
            left: 15px
        }
        iframe{
            width: 350px;
            height: 180px;
        }
        footer{
            height: 250px;
          /*   border: solid 1px; */
            margin-top:10px;
            display: flex;
            width: 100%;
            background-color: rgb(172, 172, 172);
        }
        .logoFo{
            height: 230px;
           /*  border: solid 1px; */
            margin-top:10px;
            margin-left:50px;
            width:30%;
            display: inline-block;
        }
        .listaFo{
            height: 230px;
           /*  border: solid 1px; */
            margin-top:10px;
            margin-left:10px;
            width:30%;
            display: inline-block;
        }
        .contatoFo{
            height: 230px;
           /*  border: solid 1px; */
            margin-top:10px;
            margin-left:10px;
            width:25%;
            display: inline-block;    
        }
        .logoFo2{
            height: 210px;
            /* border: solid 1px; */
            margin: 10px 10px 10px 10px;
           /*  background-color: aqua; */
            width: 90%;
            display: inline-block;
        }
        .imgGato{
            width:70%;
            position: relative;
            left:50px;
        }
        .listaFo2{
            height: 210px;
         /*    border: solid 1px; */
            margin: 10px 10px 10px 10px;
           /*  background-color: rgb(134, 229, 102); */
        }

        .listaFo2 ul{
            list-style-type: none;
        }

        .listaFo2 li{
            margin-top: 10px;
            font-size: 15px;
            position: relative;
            left:85px;
            top:22px;
        }

        h5{
            font-size: 18px;
            text-align: center;
            color:#fff;
            margin-top: 10px;
        }

        .contatoFo2{
            height: 120px;
            /* border: solid 1px; */
            margin: 10px 10px 10px 10px;
            position: relative;
            left:50px;
            top:50px;
            font-size: 20px;
            
          /*   background-color: rgb(168, 71, 170); */
           
        }
        .contatoFo3{
            height: 60px;
            /* border: solid 1px; */
            margin: 10px 10px 10px 10px;
            /* background-color: rgb(168, 71, 170); */
            position: relative;
            text-align: center;
            bottom: 30px;

            
        }
        *{
            margin: 0;
        }

